body {
    font-family: "Work Sans", serif;
    margin: 0rem auto;
}

header {
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 3.125rem 15rem 5.1875rem 14.25rem;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 3.75rem;
}

nav a {
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500
}

nav h3 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.header_discrption {
    padding-left: 18.25rem;
    padding-right: 18.25rem;
}

.header_discrption h3 {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.header_discrption p {
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.primary_button {
    border-radius: 8px;
    background-color: #FF900E;
    width: 11.25rem;
    height: 4rem;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.first_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 3.125rem auto;
}

.image_container{
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 4rem;
    border-radius: 8px;
}
.image_container img {
    width: 100%;
}

@media screen and (min-width: 576px) and (max-width:960px){
    nav{
        padding: 1rem 1rem;
    }
    nav li{
        margin-right: 1rem;
    }
    .header_discrption {
        padding-left: 7rem;
        padding-right: 7rem;
    }
    .image_container{
        padding-left: 7rem;
        padding-right: 7rem;
        padding-bottom: 3rem;
        border-radius: 8px;
    }
    .image_container img {
        width: 100%;
    }
}

@media screen and (max-width: 576px){
    nav{
        flex-direction: column;
        padding: 1rem 1.5rem;
    }
    nav li{
        margin-right: 1rem;
    }
    .header_discrption {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .image_container{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1.5rem;
        border-radius: 8px;
    }
    .image_container img {
        width: 100%;
    }
}