body {
    font-family: "Work Sans", serif;
    margin: 0rem auto;
    max-width: 1600px;
}

header {
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 3.125rem 12rem 5.1875rem 12rem;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 3.75rem;
}

nav a {
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500
}

nav h3 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.header_discrption {
    padding-left: 18.25rem;
    padding-right: 18.25rem;
}

.header_discrption h3 {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.header_discrption p {
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.primary_button {
    border-radius: 8px;
    background-color: #FF900E;
    width: 11.25rem;
    height: 4rem;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.first_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 3.125rem auto;
}

.image_container {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 4rem;
    border-radius: 8px;
}

.image_container img {
    width: 100%;
}

/* main  */

/* feature section  */

.feature_container {
    display: flex;
    margin: 5rem 12rem auto 15rem;
}

.img_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.img_container>div {
    width: 14rem;
    height: 14rem;

}

.img_container img {
    width: 100%;
    border-radius: 8px;
}

.content_container {
    margin-left: 4.75rem;
}

.Quick {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.our {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.Fet {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

.content_container p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* next feture section  */

.satisfaction_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 130px 160px auto 240px;
}

.satisfaction_content_container {
    width: 100%;
}

.satisfaction_img_container img {
    width: 100%;
    height: 90%;
    padding-left: 50px;
}

.love_enjoy h3 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 1.3rem;
    margin-bottom: 20px;
}

.love_enjoy>p,
.satisfaction_div>p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.satisfaction_div>h3 {
    color: #131313;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.satisfaction_div {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
}

.ten_year_exp {
    border-radius: 8px;
    background-color: #FF900E;
    width: 170px;
    height: 80px;
    border: none;
    position: relative;
    bottom: 80px;
}

.ten_year_exp h3 {
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0px;
    padding: 15px;
    padding-bottom: 0px;
}

.ten_year_exp p {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2px;
}

/* section 3 */
.fact {
    margin-top: 100px;
    margin-left: 240px;
}

.fact h3 {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.fact p {
    color: #727272;
    font-size: 1rem;
    font-style: normal;
    margin-top: 1.2rem;
}

.achivement_container {
    margin: 100px 290px auto 290px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.achivement {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding-top: 2rem;
}

.achivement img {
    margin-bottom: 0rem;
}

.achivement h2 {
    margin-top: 2px;
    margin-bottom: 0px;
    color: #424242;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.achivement p {
    margin-top: 2px;
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
}

/* section 4 */

.sponsors_content h3 {
    text-align: center;
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.sponsors_content p {
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.sponsors_content{
    margin-top: 160px;
    margin-bottom: 50px;
}

.sponsors_image{
    margin-top: 0%;
    margin-bottom: 130px;
    margin-right: 15%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 70px;
}

/* footer */





@media screen and (min-width: 576px) and (max-width:960px) {
    nav {
        padding: 1rem 2rem;
    }

    nav li {
        margin-right: 1rem;
    }

    nav h3 {
        font-size: 2rem;
    }

    .header_discrption {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .image_container {
        padding-left: 7rem;
        padding-right: 7rem;
        padding-bottom: 3rem;
        border-radius: 8px;
    }

    .image_container img {
        width: 100%;
    }

    /* feature container  */

    .feature_container {
        flex-direction: column-reverse;
        margin: 7rem;
        gap: 5rem;
    }

    .img_container>div {
        width: 100%;
        height: 100%;

    }

    .content_container {
        margin-left: 0rem;
    }


    .satisfaction_container {
        grid-template-columns: 1fr;
        margin-top: 0px;
        margin: auto 100px;
    }

    .satisfaction_img_container img {
        padding-left: 10%;
        height: 80%;
        width: 80%;
    }

    /* section 3 */
    .fact {
        margin-top: -60px;
        margin-left: 80px;
    }

    .achivement_container {
        grid-template-columns: repeat(2, 1fr);
        margin: 80px 120px 20px 120px;
        gap: 20px;
    }


        /* section 4 */

        .sponsors_image{
            margin: 0px 30% 70px 30%;
            grid-template-columns: repeat(2,1fr);
            gap: 30px;
        }
        .sponsors_image img:last-child {
            grid-column: span 2;
            justify-self: center; /* Centers the image horizontally */
        }
        
        .sponsors_content{
            margin-top: 60px;
            margin-bottom: 50px;
        }


}

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        padding: 1rem 1.5rem;
    }

    nav li {
        margin-right: 1rem;
    }

    .header_discrption {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .image_container {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1.5rem;
        border-radius: 8px;
    }

    .image_container img {
        width: 100%;
    }

    /* feature container  */

    .feature_container {
        flex-direction: column-reverse;
        margin: 1rem;
    }

    .content_container {
        margin: 1rem;
        margin-bottom: 2rem;
    }

    .img_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        padding: 3rem;
    }

    .img_container>div {
        width: 100%;
        height: 100%;

    }

    .satisfaction_container {
        grid-template-columns: 1fr;
        margin-top: 0px;
        margin: auto 20px;
    }

    .satisfaction_img_container img {
        padding-left: 10%;
        height: 80%;
        width: 80%;
    }

    /* section 3 */
    .fact {
        margin-top: -60px;
        margin-left: 40px;
    }

    .achivement_container {
        grid-template-columns: 1fr;
        margin: 80px 70px 20px 70px;
        gap: 20px;
    }

    /* section 4 */

    .sponsors_image{
        margin: 0px 30% 70px 30%;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .sponsors_content{
        margin-top: 60px;
        margin-bottom: 50px;
    }
    

}